<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sua Página Inicial</title>
    <link rel="stylesheet" href="~/css/Minty.css"/> <!-- Este é o caminho para o seu arquivo CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

    <style>
        h1, h2 {
            font-family: 'Arial', sans-serif; /* Altere 'Arial' para a fonte desejada */
            font-weight: bold; /* Define o peso da fonte como negrito */
            color: black; /* Cor do texto */
            padding: 10px 20px; /* Espaçamento interno */
            border-radius: 100px; /* Bordas arredondadas */
        }

        body {
            background-image: url('../imagens/Home/roupeiroimagemfundo.JPG'); /* Substitua '../imagens/Home/roupeiroimagemfundo.JPG' pelo caminho correto da sua imagem */
            background-size: cover; /* Para cobrir todo o espaço do body */
            background-position: center; /* Para centralizar a imagem */
        }
       
    </style>
</head>
<body>

    <div class="text-center d-flex flex-row justify-content-center align-items-center">
        <div class="background-rectangle mr-4">
            <h1 class="display-2 dancing-script">Paula Gonzales</h1>
            <h2 class="display-4 dancing-script">Consultora de Estilo</h2>
        </div>

        <div class="img-circle">
            <img src="~/Imagens/Home/fotoPaulaGonzalez.jpg" alt="Imagem" class="img-responsive" style="width: 100%;">
        </div>
    </div>

</body>
</html>
